doctype html
html
  head
    include includes/gtag-snippet.html
    title Fwd #{title ? '~ ' + title : ''}
    link(rel='stylesheet', href='/dist/style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    include includes/favicons.html
    
  body.font-sans.bg-grey-lighter
    nav.primary-nav.flex.items-center.justify-between.flex-no-wrap.p-3.bg-black
      ul.list-reset.flex
        li.text-white.font-bold.ml-3
          a(href="/") #{h.siteName}
      ul.list-reset.flex.items-center
        if user
          li.pl-3.nav-btn
            a(href='/lists/new') New List
          li.pl-3
            a(href='/account').flex.items-center
              img.avatar(src=user.gravatar + '&d=retro').w-8.h-auto.rounded-full
        else 
          li.pl-3.nav-btn
            a(href='/register') Register
          li.pl-3.nav-btn
            a(href='/login') Login
        

    block messages
      if locals.flashes
          section.flash-messages
            - const categories = Object.keys(locals.flashes)
            each category in categories
              each message in flashes[category]
                .flash(class=`flash--${category}`)
                  p.flash--text!= message
                  button.flash--remove(onClick="this.parentElement.remove()") &times;

    main
      block content
