extends layout

block content
  section.hero.bg-black.text-white.font-thin
    header.p-6
      h2.font-thin.text-center.text-4xl= list.title
    section.bg-purple-dark.flex.justify-center.p-2.text-sm
      a(href=`/lists/${list.slug}/add`) Add Link
  section.posts
    each post in list.posts
      //- console.log(post)
      article
        header
          a(href=`${post.link.meta.url}`)
            h3= post.link.meta.title
          - const formattedUrl = h.formatUrl(post.link.meta.url)
          cite= formattedUrl
        //- section
        //-   p= post.link.meta.description