extends layout

block content
  section.hero
    header.hero__header
      h2.hero__title= list.title
    a(href=`/lists/${list.slug}/add`).hero__action Add Link
  section.posts
    each post in list.posts
      article.overflow-hidden.border-grey-light.border-b.flex.p-4.items-center
        section(class='w-12 h-12 flex-none bg-cover text-center rounded-full' style=`background-image: url(${post.meta.logo})` title=`${post.meta.title}`)
        section.flex-grow.pl-4.pr-4
          a(href=`${post.meta.url}`)
            h3.pb-1.font-semibold.tracking-tight= post.meta.title
          cite.text-sm= h.formatUrl(post.meta.url)
        section.flex-none
          ul.list-reset.text-xs.flex.text-grey-dark
            li.mr-3
              a(href=`#`)
                | &times
        